.header {
  display: flex;
  justify-content: space-between;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.header__row:nth-child(2) {
  // background-color: red !important;
  gap: 15px;
}
.header__row:nth-child(3) {
  // background-color: red !important;
  flex: 1;
  justify-content: end;
}