@use "@/shared/css/const" as c;

.header {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  width: c.$w;
  align-self: center;

  &__row {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
