.container {
	position: static;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	&__avatar {
		width: 100% !important;
		height: 100% !important;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 5px;
		border-radius: 10px;
		height: 100%;
	}
}
