$time: 300ms;

.enter {
  transform: translateY(-100%);
  opacity: 0;
}
.enterActive {
  transform: translateY(0);
  opacity: 1;
  transition: transform $time ease, opacity $time ease;
}
.exit {
  transform: translateY(0);
  opacity: 1;
}
.exitActive {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform $time ease, opacity $time ease;
}
