@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// :root {
//   --bg-color: white;
//   --ft-color: black;
// }

// .dark {
//   --bg-color: #242424;
//   --ft-color: white;
// }

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
