@use "@app/client/shared/css/const" as c;

.main {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;

  width: c.$w;
  // margin: 0 auto; 
  margin-top: c.$hh;
  margin-right: c.$sb;
  justify-self: center;

  &__slidebar {
    position: sticky;

    top: c.$hh;
    display: flex;
    flex-direction: column;
    width: c.$sb;
    padding: 16px;
    gap: 5px;
    border-radius: 25px;
    z-index: 1;
    height: max-content;
  }

  &__content {
    padding: c.$p;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: c.$h;
  }
}

@media screen and (max-width: #{c.$w + c.$sb}) {
  .main {
    margin: 0 auto;
    margin-top: c.$hh;
  }
}