.main {
  // width: 500px;
  height: 70vh;
  width: auto;
  aspect-ratio: 4 / 3;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__actions {
    display: flex;
    gap: 150px;
    // justify-content: space-around;
    // width: 50%;
  }
}