@use "@app/client/shared/css/const" as c;

$w: 300px;

.main {
  position: fixed;

  margin-top: c.$hh;
  display: flex;
  flex-direction: column;
  width: c.$sb;
  padding: 16px;
  gap: 5px;
  border-radius: 25px;
  margin-left: (c.$sb * -1) - 35px;
  top: 0;
  // top: 0;
  // left: -$w - 10px;
  z-index: 1;
}

@media screen and (max-width: 1620px) {
  .main {
    margin-left: 0;
    left: 0;
  }
}