@use "@/shared/css/const" as c;

.modal {
  padding: c.$p;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}