@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// :root {
//   --bg-color: white;
//   --ft-color: black;
// }

// .dark {
//   --bg-color: #242424;
//   --ft-color: white;
// }

body {
  margin: 40px !important;
  display: flex;
  justify-content: center;
  // background-color: var(--bg-color);
  // color: var(--ft-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
