@use "@/shared/css/const" as c;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// :root {
//   --bg-color: white;
//   --ft-color: black;
// }

// .dark {
//   --bg-color: #242424;
//   --ft-color: white;
// }

main {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // gap: c.$g;

  // max-width: c.$w;
  width: c.$w;
  // justify-self: center;
  margin: 0 auto;
  margin-top: c.$hh;
  padding: c.$p;
  border-radius: 32px;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
