// ОТСТУП ОТ ШАПКИ
$hh: 100px;
// ПАДДИНГ СТРАНИЦЫ
$p: 25px;
// ГЭП СТРАНИЦЫ
$g: 15px;
// ШИРИНА СТРАНИЦЫ
$w: 1100px;
//
$ig: 16px;
// ВЫСОТА СТРАНИЦЫ
$h: 75vh;

// $searchW: 450px;
$searchW: 720px;
// ОТСТУП БЕЗ ПУСТОГО МЕСТА
$hoh: 64px;
// LOW PADDING
$lp: 8px;

// ШИРИНА СЛАЙДБАРА
$sb: 250px;