@use './const.scss' as c;
// $w: 800px;


.main {
  // align-self: center;
  display: inherit;
  flex-direction: column;
  // justify-self: center;
  // width: 800px;
  gap: c.$g;

  &__registration {
    // display: flex;
    // align-self: center;
    padding: c.$p;
    // width: c.$mw;
  }

  &__anketa {
    // display: flex;
    // justify-content: center;
    align-items: center;
    gap: c.$p;
    padding: c.$p;

    &_top {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      gap: c.$p;
    }

    > button {
      width: 50%;
    }
  }
}