@use "@app/client/shared/css/const" as c;

.header {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: c.$w;
  align-self: center;
  padding: 0 !important;

  &__row {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
