// ОТСТУП ОТ ШАПКИ
$hh: 100px;
// ПАДДИНГ СТРАНИЦЫ
$p: 20px;
// ГЭП СТРАНИЦЫ
$g: 15px;
//
$ig: 16px;
// ВЫСОТА СТРАНИЦЫ
$h: 85vh;
$hw: 72vh;

// $searchW: 450px;
$searchW: 700px;
// ОТСТУП БЕЗ ПУСТОГО МЕСТА
$hoh: 64px;
// LOW PADDING
$lp: 8px;

// ШИРИНА СЛАЙДБАРА
$sb: 250px;
// ШИРИНА СТРАНИЦЫ
$w: 1096px + $sb;