@use "@app/client/shared/css/const" as c;

$pg: 8px;

.container {
  display: flex;
  flex-direction: column;
  gap: $pg;
  height: 100%;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: c.$g;

    &--actions {
      padding: $pg;
      display: flex;
      flex-direction: column;
      gap: $pg;
    }
  }
  // article {
  //   height: 100%;
  // }
}