@use "@app/client/shared/css/const" as c;

$gp: 10px;

.container {
	display: flex;
	flex-direction: column;
	gap: $gp;
	height: c.$h;
	overflow: auto;

	&__actions {
		gap: 10px;
		display: flex;
	}
}
